@media (min-width: 350px) and (max-width: 450px) {
  .table-container {
    width: 65%;
    overflow-x: scroll;
  }
  .table-container table tr td,
  th {
    padding: 5px;
  }
}
@media (min-width: 451px) and (max-width: 1200px) {
  .table-container {
    width: 90%;
    overflow-x: scroll;
  }
  .table-container table tr td,
  th {
    padding: 15px;
  }
}
