@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-img {
  display: none;
}
/* Nav */
.navbar {
  height: 70px;
  /* background: #d3a096; */
  color: rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar svg {
  display: none;
}

.logo h2 {
  text-decoration: overline;
  font-style: italic;
  font-weight: 600;
  font-size: 2rem;
  color: var(--logo_title);
  cursor: pointer;
  margin: 0 0.5rem;
}
.nav-items {
  display: flex;
  justify-content: space-between;
}
.overview,
.account {
  display: flex;
}
.overview {
  margin-right: 4rem;
}
.nav-items h3 {
  display: none;
}

.nav-items ul li a {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
}
.navbar li {
  list-style: none;
  margin: 0 0.5rem;
}
.navbar a {
  text-decoration: none;
  color: var(--text_color);
}
.navbar a:hover {
  color: var(--button_color_hover);
}
/* .navbar a::after {
  content: "";
  display: block;
  height: 3px;
  background: var(--button_color_hover);
  width: 0%;
  transition: all ease-in-out 300ms;
}
.navbar a:hover::after {
  width: 100%;
} */

#sign-in-btn {
  background-color: var(--button_color);
  color: var(--link_text_color);
  font-weight: 700;
}
#check,
.menu {
  display: none;
}

/* Hero section */
.hero-section {
  height: 100vh;
  background: url("hero-bg.jpg") center no-repeat;
  background-size: cover;
}

/* Responsive */
@media (max-width: 850px) {
  .nav-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    background: var(--side_bar_background);
    padding: 2rem;
    right: -250px;
    transition: all ease-in-out 500ms;
  }
  .profile {
    display: none;
  }
  .overview,
  .account {
    flex-direction: column;
    width: auto;
  }
  .overview {
    margin: 0;
  }
  .nav-items h3 {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--logo_title);
    margin-bottom: 1rem;
  }
  .navbar svg {
    display: flex;
    cursor: pointer;
    color: var(--text_color);
  }
  .nav-items ul li a svg {
    position: absolute;
    left: -20px;
    bottom: 5px;
  }
  .navbar li {
    margin: 1rem 0;
  }
  .navbar a {
    display: inline-block;
  }
  .navbar a:hover {
    margin-left: 2px;
    transition: all ease-in-out 300ms;
  }
  .menu {
    display: inline-block;
    position: fixed;
    right: 2.5rem;
    z-index: 99;
  }

  .profile-img {
    display: block;
  }
  #check:checked ~ .nav-items {
    right: 0;
  }
}
.slideDown {
  animation: slide_down 1s ease-in-out;
  /* top: -112px; */
}

@keyframes slide_down {
  from {
    /* height: 0; */
    top: -100px;
    opacity: 0;
  }
  to {
    /* height: 112px; */
    top: 56px;
    opacity: 1;
  }
}
