.h3Text {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
.aText {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
.aText:hover {
  border-bottom: 1px solid var(--dark);
}
.ulItems {
  list-style-type: none;
  padding: 0;
}
.buttonItem {
  appearance: none;
  border: 0;
  background: transparent;
}
.Flex {
  display: flex;
}

.footer_inner {
  background: var(--light);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footers {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50vh;
}
.containers {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 1rem;
}

.formik {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}

.inputItem {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-bottom: 1px solid black;
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
.inputItem:focus {
  outline: none;
}
.inputItem::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .layoutss {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
.formik {
  position: relative;
}
.svgg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 3.5rem;
}
.footer_copyright {
  color: var(--light);
}
