@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --body_background: #ece3ca;
  --body_color: #333333;
  --link_color: #666666;
  --logo_title: #d59a51;
  --mapLocationContainer: #e9c69b;
  --card_color: #dac3a7;
  --spinner_color: rgb(202, 170, 109);
  --text_color: #b18045;
  --testimonial_color: #e2e2e2;
  --side_bar_background: rgba(73, 48, 15, 0.5);
  --spinner_dot: #b18045;
  --buton_outline: #b18045;
  --button_color: #b18045;
  --button_color_hover: #93673b;
  --link_text_color: #582608;
  --modal_color: #ecd1b0;
}
*,
::before,
::after {
  border-style: none;
}
[data-theme="dark"] {
  --side_bar_background: rgba(12, 10, 161, 0.3);
  --body_background: #1a103d;
  --body_color: #cccccc;
  --link_color: #cccccc;
  --logo_title: #9993eb;
  --text_color: #7c73ff;
  --card_color: rgb(32, 13, 77);
  --spinner_color: rgb(154, 157, 255);
  --spinner_dot: #6a58dd;
  --buton_outline: #6a58dd;
  --testimonial_color: #262525;
  --button_color: #5d33f8;
  --button_color_hover: #5126dc;
  --link_text_color: #090222;
}
