* {
  font-family: "Josefin Sans";
}
.main-screen {
  background-color: var(--body_background);
}
.theme-controller {
  color: var(--text_color);
}

.btnColor {
  background-color: var(--button_color);
}

.gradientBg {
  background-color: var(--side_bar_background);
}
.backgroundColor {
  background-color: var(--body_background);
}

.textColor {
  color: var(--text_color);
}
.textColor1 {
  color: var(--body_color);
}

.outlinedColor {
  outline: 2px solid var(--text_color);
}
.card_color {
  background-color: var(--card_color);
}

.outline_color {
  outline: var(--buton_outline);
}

.sideBarColor {
  background-color: var(--side_bar_background);
}

.custom-shadow {
  border-radius: 39px;
  /* background: #ffffff; */
  box-shadow: 5px 5px 15px #757070, -5px -5px 15px #757070;
}
.animation-scale {
  animation: scale 2s infinite;
}

.button-hover {
  color: var(--button_color_hover);
}

.image-border {
  border-radius: 7% 25% 6% 25% / 7% 25% 6% 25%;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
