.swiper {
  /* width: 30%; */
  min-width: 556px;
  min-height: 600px;
  max-width: 700px;
  /* max-height: 650px; */
  height: auto;
  /* margin-right: 50px; */
  border-radius: 7% 25% 6% 25% / 7% 25% 6% 25%;

  margin: 0;
}

.banner-container {
  /* display: flex;
  justify-content: space-between; */
  gap: 3em;
  /* flex-direction: column; */
}
/* .banner-text {
  width: 50%;
} */


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-height: 500px;
  max-height: 700px;

  /* width: 200px; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide img:hover {
  /* cursor: pointer; */
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--text_color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--text_color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .swiper {
    /* width: 30%; */
    min-width: 325px;
    width: 100%;
    min-height: 500px;
    max-width: 768px;
    max-height: 650px;
    /* width: 200px;
    height: auto; */
    /* margin-right: 50px; */
  }
  .carouselContainer,
  .banner-text {
    width: 100%;
  }

  #banner-title {
    /* font-size: 120px; */
    line-height: 1.1;
    font-weight: 400;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;

    gap: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .swiper {
    /* width: 30%; */
    min-width: 325px;
    width: 100%;
    min-height: 500px;
    max-width: 1024px;
    max-height: 650px;
    /* width: 200px;
    height: auto; */
    border: 1px solid black;
    /* margin-right: 50px; */
  }

  .carouselContainer,
  .banner-text {
    width: 100%;
  }

  .banner-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}
